<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
      <table class="ListItem">
        <tr>
          <td colspan="4" width="840px"><%= notification.subject %></td>
        </tr>
        <tr>
          <td width="600px" align="left" class="tag"><%= notification.body %></td>
          <td width="100px" align="left" class="tag"><%= notification.frequency %></td>
          <td width="90px" align="right" class="tag"><%= notification.start_date %></td>
          <td width="50px" align="right" class="tag"><%= notification.status %></td>
        </tr>
      </table>



