<div class="create_form">

  <%= semantic_form_for @group do |form| %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :description, :as => :text %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button %>
    <% end %>
  <% end %>
  
</div>

