<div class="content_panel">
  <p id="notice"><%= notice %></p>
  <div class="show">    
    <p class="title">
      <%= @contact.fullname %>
    </p>
    <p class="comment">
      <%= @contact.comment %>
    </p>    
    <hr/>
    <table width="100%">
      <tr>
        <td width="50px">
          <img src="/images/icons/email.png"/>
        </td>
        <td>
          <%= @contact.email %>
        </td>
      </tr>
      <% if @contact.phonenumber %>            
      <tr>
        <td width="50px">
          <img src="/images/icons/phone.png"/>
        </td>
        <td>
          <%= @contact.phonenumber %>
        </td>
      </tr>
      <% end %>
      <% if @contact.fb_id %>      
      <tr>
        <td width="50px">
          <img src="/images/icons/facebook.png"/>
        </td>
        <td>
          <a href="http://www.facebook.com/profile.php?id=<%= @contact.fb_id %>"><%= @contact.fb_id %></a>
        </td>
      </tr>      
      <% end %>
      <% if @contact.vk_id %>      
      <tr>
        <td width="50px">
          <img src="/images/icons/vk.png"/>
        </td>
        <td>          
            <a href="http://vk.com/id<%= @contact.vk_id %>"><%= @contact.vk_id %></a>
        </td>
      </tr>      
      <% end %>
    </table>
    <hr/>
    <p>
      <b>Send email:</b>
      <%= @contact.send_email %>
    </p>

    <p>
      <b>Send sms:</b>
      <%= @contact.send_sms %>
    </p>

    <p>
      <b>Only free sms:</b>
      <%= @contact.only_free_sms %>
    </p>
    <hr/>
    <% if @contact.groups.size > 0 %>
    <b>belongs to groups: &nbsp;&nbsp;&nbsp;<b/>
    <span class="tag">
      <% @contact.groups.each do |group| %>
      (
      <%= group.name %>
      )&nbsp;&nbsp;&nbsp;
      <%end%>
    </span>
    <hr/>
    <%end%>
  </div>

  <%= link_to t("common.edit"), edit_contact_path(@contact) %> |
  <%= link_to t("common.back"), contacts_path %>
</div>