<!DOCTYPE html>
<html>
<head>
  <title>NotifierHelper</title>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"   %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"   %>


  <%= javascript_include_tag "drag_n_drop_helper.js"  %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js"  %>
  
  <%= javascript_include_tag "rails.js"  %>
  
  
  
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag  "style.css" %>
  <%= stylesheet_link_tag  "jquery-ui-1.8.7.custom.css" %>
  <%= formtastic_stylesheet_link_tag %>
  
  <!-- Reach editor section -->
  <!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/skin.css">
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.2r1/build/editor/editor-min.js"></script>
  
<script type="text/javascript">  
  $(document).ready(function(){ $('input.ui-date-picker').datetimepicker(); });
</script>  
  
</head>
<body class="yui-skin-sam">
  <div id="content">
    <div id="header">
      <%=render :partial=>"partials/menu"%>
      <div id="logo">Notifier Helper</div>      
    </div>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <hr/>
      &copy; 2010 
    </div>
  </div>
  
 
</body>
</html>
